<!DOCTYPE html>
<html lang="pt_bre">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/partials/teacher-register.css">
    <link rel="stylesheet" href="/styles/main.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Proffy - Sua plataforma de estudos online</title>
</head>
<body id="pageTeacherRegister">
    <div class="teacher-container">
        <div>
            <img src="/images/icons/success-check-icon.svg" alt="Success icon">
        </div>
    </div>
</body>
</html>